body {

    font-family: 'oswald', sans-serif;
}


h1 {

    text-shadow: 5px 4px 2px black;

}


h2 {
    text-shadow: 5px 5px 1px black;
}

h3,
h5 {
    text-shadow: 2px 2px 1px black;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 90vh;
    background: url(../img/HeaderJero.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    filter: saturate(50%);
}
    

#infoexperiencia hr,
#infoeducacion hr {
    width: 50%;
    margin: auto;
}


.card-img-top {

    aspect-ratio: 16/9;
    object-fit: "cover";

}

footer{
    padding: 1px;
}
.footerdiv{
    margin-bottom: 0;
}
